/* *-------------------- Fonts  */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* *-------------------- Smooth Scrolling */

html {
  scroll-behavior: smooth;
}

/* *-------------------- Header */

header {
  margin: 0;
  padding: 0;
}

/* *-------------------- Logo */

.logo {
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  font-weight: 300;
}

.logo-container a {
  text-decoration: none;
  color: #fafafa;
}

.logo a {
  text-decoration: none;
  color: #fafafa;
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

.logo a:hover {
  color: #669999;
}

/* *-------------------- Navigation */

.nav li {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

.menuitem {
  height: 75px;
}

/* ? can i move these rules to .nav? */
.menuitem a {
  /* padding: 0; */
  color: #fafafa;
  text-decoration: none;
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

.menuitem a:hover {
  color: #669999;
}

.nav-link {
  width: 75px;
}

.nav-link a {
  margin: 0;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

/* *-------------------- Sections */

.section-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
}

.section-text h1,
h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #fafafa;
  text-decoration: none;
}

.container {
  padding-top: 150px;
  padding-bottom: 150px;
  height: 100%;
}

.section-container {
  height: 100vh;
  position: relative;
  text-align: center;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* *-------------------- Home Section */

.landing-title a,
h1,
h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #fafafa;
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

.landing-title h1:hover {
  color: #669999;
}

.landing-title h3:hover {
  color: #669999;
}

/* *-------------------- About Section */

.about-text {
  font-family: "Work Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  color: #fafafa;
  margin: 250px 20px 85px 20px;
}

/* todo: edit pics for each media query */
/* *-------------------- Gallery Section */

.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* todo: edit size/position for each media query */

.carousel-caption h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: rgba(250, 250, 250, 0.5);
  margin-bottom: 50px;
}

/* todo: Gallery images for smallest screens */
.gallery-image-1 {
  background-image: url(../img/about/vinny-shaw-bg-xs.jpg);
}
.gallery-image-2 {
  background-image: url(#);
}
.gallery-image-3 {
  background-image: url(#);
}
.gallery-image-4 {
  background-image: url(#);
}
.gallery-image-5 {
  background-image: url(#);
}
.gallery-image-6 {
  background-image: url(#);
}

/* *-------------------- Services Section */

.services-container {
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-option {
  margin: 5px 0;
  padding: 0 20px;
}

.service-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  color: rgba(250, 250, 250, 0.5);
  position: relative;
  top: 25%;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.service-image {
  background-position: center center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* todo: need to add media queries for larger pics??? */
.portrait {
  background-image: url(../img/services/portrait-sm.jpg);
}
.product {
  background-image: url(../img/services/product-sm.jpg);
}
.automotive {
  background-image: url(../img/services/automotive-sm.jpg);
}

/* *-------------------- Contact Section */

.form-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: rgba(250, 250, 250, 1);
}

.btn-submit {
  color: #fafafa;
  background-color: #669999;
  border: #fafafa;
}

/* *-------------------- Footer */

.footer-text {
  font-size: 0.8rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #fafafa;
  text-decoration: none;
}

footer i {
  color: #fafafa;
  margin: 0 7px;
}

.contact-link a i,
.talk {
  color: #fafafa;
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

.contact-link a i:hover,
.talk:hover {
  color: #669999;
}

.social-links {
  margin-bottom: 0;
}

.social-links li a i {
  padding: 5px;
  color: #fafafa;
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #669999;
}

/* *-------------------- Background Images and Media Queries */

.bg-img {
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

/* * Mobile - xs */
@media screen and (max-width: 575.98px) {
  .home {
    background-image: url(../img/home/fern-bg-xs.jpg);
  }
  .about {
    background-image: url(../img/about/vinny-shaw-bg-xs.jpg);
  }
  .gallery {
    background-image: url(../img/gallery/#);
  }
  .services {
    background-image: url(../img/contact/trees-bg-xs.jpg);
  }
  .contact {
    background-image: url(../img/contact/trees-bg-xs.jpg);
  }
}

/* * Landscape - sm */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .home {
    background-image: url(../img/home/fern-bg-sm.jpg);
  }
  .menuitem {
    padding-top: 20px;
  }
  .about {
    background-image: url(../img/about/vinny-shaw-bg-sm.jpg);
  }
  .about-text {
    font-size: 0.7rem;
    margin: 20px 20px 0 72px;
  }
  .gallery {
    background-image: url(../img/gallery/#);
  }
  /* todo: Gallery images */
  .gallery-image-1 {
    background-image: url(../img/about/vinny-shaw-bg-sm.jpg);
  }
  .gallery-image-2 {
    background-image: url(#);
  }
  .gallery-image-3 {
    background-image: url(#);
  }
  .gallery-image-4 {
    background-image: url(#);
  }
  .gallery-image-5 {
    background-image: url(#);
  }
  .gallery-image-6 {
    background-image: url(#);
  }
  /* todo: Gallery images */
  .services {
    background-image: url(../img/contact/trees-bg-sm.jpg);
  }
  .services-container {
    padding: 0 20px;
  }
  .service-title {
    font-size: 1.6rem;
    position: relative;
    top: 45%;
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
  }
  .contact {
    background-image: url(../img/contact/trees-bg-sm.jpg);
  }
  .form-container {
    margin-top: 25px;
  }
}

/* * Tablet - md */
@media screen and (min-width: 768px) {
  .home {
    background-image: url(../img/home/fern-bg-md.jpg);
  }
  .menuitem {
    padding-top: 20px;
  }
  .about {
    background-image: url(../img/about/vinny-shaw-bg-md.jpg);
    background-position-x: 70%;
  }
  .about-text {
    font-size: 1.2rem;
    margin: 20px 20px 0 90px;
  }
  .gallery {
    background-image: url(../img/gallery/#);
  }
  /* todo: Gallery images */
  .gallery-image-1 {
    background-image: url(#);
  }
  .gallery-image-2 {
    background-image: url(#);
  }
  .gallery-image-3 {
    background-image: url(#);
  }
  .gallery-image-4 {
    background-image: url(#);
  }
  .gallery-image-5 {
    background-image: url(#);
  }
  .gallery-image-6 {
    background-image: url(#);
  }
  /* todo: Gallery images */
  .services {
    background-image: url(../img/contact/trees-bg-md.jpg);
  }
  .services-container {
    padding: 0 20px;
  }
  .service-title {
    font-size: 4rem;
    position: relative;
    top: 25%;
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  .contact {
    background-image: url(../img/contact/trees-bg-md.jpg);
  }
  .form-container {
    margin-top: 0;
  }
  .social-links {
    margin-bottom: 16px;
  }
}

/* todo: remove any repeated rules */
/* * Mobile landscape - md */
@media screen and (min-width: 812px) {
  .home {
    background-image: url(../img/home/fern-bg-md.jpg);
  }
  .menuitem {
    padding-top: 20px;
  }
  .about {
    background-image: url(../img/about/vinny-shaw-bg-md.jpg);
    background-position-x: 70%;
  }
  .about-text {
    font-size: 0.7rem;
    margin: 20px 20px 0 90px;
  }
  .gallery {
    background-image: url(../img/gallery/#);
  }
  /* todo: Gallery images */
  .gallery-image-1 {
    background-image: url(#);
  }
  .gallery-image-2 {
    background-image: url(#);
  }
  .gallery-image-3 {
    background-image: url(#);
  }
  .gallery-image-4 {
    background-image: url(#);
  }
  .gallery-image-5 {
    background-image: url(#);
  }
  .gallery-image-6 {
    background-image: url(#);
  }
  /* todo: Gallery images */
  .services {
    background-image: url(../img/contact/trees-bg-md.jpg);
  }
  .services-container {
    height: 70vh;
  }
  .service-title {
    font-size: 2rem;
  }
  .portrait {
    background-position-y: 40%;
  }
  .product {
    background-position-y: 65%;
  }
  .contact {
    background-image: url(../img/contact/trees-bg-md.jpg);
  }
  .form-container {
    margin-top: 0;
  }
  .social-links {
    margin-bottom: 16px;
  }
}

/* * Desktop - lg */
@media screen and (min-width: 992px) {
  .home {
    background-image: url(../img/home/fern-bg-lg.jpg);
  }
  .menuitem {
    padding-top: 20px;
  }
  .about {
    background-image: url(../img/about/vinny-shaw-bg-lg.jpg);
  }
  .about-text {
    font-size: 1.3rem;
    margin: 20px 20px 0 130px;
  }
  .gallery {
    background-image: url(../img/gallery/#);
  }
  /* todo: Gallery images */
  .gallery-image-1 {
    background-image: url(#);
  }
  .gallery-image-2 {
    background-image: url(#);
  }
  .gallery-image-3 {
    background-image: url(#);
  }
  .gallery-image-4 {
    background-image: url(#);
  }
  .gallery-image-5 {
    background-image: url(#);
  }
  .gallery-image-6 {
    background-image: url(#);
  }
  /* todo: Gallery images */
  .services {
    background-image: url(../img/contact/trees-bg-lg.jpg);
  }
  .service-title {
    font-size: 3rem;
    position: relative;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
  }
  .portrait {
    background-position-x: 75%;
  }
  .contact {
    background-image: url(../img/contact/trees-bg-lg.jpg);
  }
  .social-links {
    margin-bottom: 16px;
  }
}

/* * Desktop - xl */
@media screen and (min-width: 1200px) {
  .about-text {
    font-size: 1.3rem;
    margin: 20px 20px 0 230px;
  }
  .service-title {
    font-size: 5rem;
    position: relative;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
  }
}
